<% content_for :title, "Editing book" %>

<h1><%= t (".editting_book") %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t(".show"), @book %> |
  <%= link_to t("back", scope: "books.new"), books_path %>
</nav>
