<% content_for :title, "New book" %>

<h1><%= t('actions.new', model: Book.model_name.human) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('actions.back'), books_path %>
</nav>
